
<div class="top-recruiters-main">
   <div class="top-recruiters-containers">
         <app-recruiters-heding></app-recruiters-heding>
        
        
        <div class="top-recruiters-titel">
            <h1>Join a growing community of recruiters who are hiring <samp>better</samp></h1>
        </div>

        <div class="silder-containers">
        <button id="slider-left-btn" (click)="nextSlide()"> > </button>
        <button id="slider-right-btn" (click)="nextSlide()"> < </button>
            <div class="slider-wrapper">
                
                <div class="slider" [ngStyle]="{'right':right}">
                         <div class="silder-items">
                                <div class="silder-Image">
                                    <!-- image1 -->
                                </div>
                                <div class="silder-componysinfo">
                                    <div class="silder-content">
                                        <div class="silder-containers-heding">
                                            <h1 id="name">Guptha s</h1>
                                            <p id="Developer">IT Developer</p>
                                            <p id="compony-name">TCS Business Pvt. Ltd</p>
                                        </div>
                                        <div class="silder-compony-contents">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                labore
                                                et dolore
                                                magna
                                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo
                                                consequat. Duis
                                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.
                                                Excepteur sint
                                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>
                                        </div>
                                    </div>
                        
                        
                        
                                </div>
                            </div>
                        
                        
                        
                        
                            <div class="silder-items">
                                <div class="silder-Image">
                                    <!-- image2 -->
                                </div>
                                <div class="silder-componysinfo">
                                    <div class="silder-content">
                                        <div class="silder-containers-heding">
                                            <h1 id="name">Guptha s</h1>
                                            <p id="Developer">IT Developer</p>
                                            <p id="compony-name">TCS Business Pvt. Ltd</p>
                                        </div>
                                        <div class="silder-compony-contents">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                labore
                                                et dolore
                                                magna
                                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo
                                                consequat. Duis
                                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.
                                                Excepteur sint
                                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>
                                        </div>
                                    </div>
                        
                        
                        
                                </div>
                            </div>
                        
                      
                </div>
                
               

                
            </div>
            

             
        </div>
   </div>
</div>
