<main class="home-container">

    
    
    <div class="home-page">
        <div class="Home-heading">
            <p>Our Services</p>
            <h1> <samp>SEEKK</samp> TALENTS</h1>
        </div>

        <!-- Home-page-content -->
        <div class="Home-page-content">
            <div class="home-content">
                <div class="home-content-items">
                    <div id="count">
                        <p>01</p>
                    </div>
                    <div class="home-content-titel">

                        <div class="titel-heading" id="titel-heading1">
                            <p>Talent Search</p>
                        </div>
                        <div class="home-content-icon">
                            <p class="icons icon1"></p>
                           
                              
                        </div>
                        <div class="home-content-p" id="p-content1">
                            <p>Are you ready to take the next step in your career? Look no further than Seekk. Our
                                platform offers a vast array of
                                job
                                opportunities across various industries and sectors. Whether you're an experienced
                                executive, a seasoned specialist,
                                or
                                just starting your career journey, we have something for everyone.</p>
                            <div class="home-content-btn">
                                <button id="btn1-1"> Know More</button>
                                <button id="btn1-2">Book Demo</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="home-content-items" id="items2">
                    <div id="count">
                        <p>02</p>
                    </div>

                    <div class="home-content-titel">
                        <div class="titel-heading" id="titel-heading2">
                            <p>Job Search</p>
                        </div>
                        <div class="home-content-icon" id="icon2">
                            <!-- icons -->
                            <p class="icons icon2"></p>
                        
                       
                    


                        </div>

                        <div class="home-content-p" id="p-content2">
                            <p>Are you ready to take the next step in your career? Look no further than Seekk. Our
                                platform offers a vast array
                                of job
                                opportunities across various industries and sectors. Whether you're an experienced
                                executive, a seasoned
                                specialist, or
                                just starting your career journey, we have something for everyone.</p>
                            <div class="home-content-btn">
                                <button id="btn2-1">Know More</button>
                                <button id="btn2-2">Book Demo</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="home-content-items">
                    <div id="count">
                        <p>03</p>
                    </div>
                    <div class="home-content-titel">
                        <div class="titel-heading" id="titel-heading3">
                            <p>Sponsored Jobs</p>
                        </div>
                        <div class="home-content-icon">
                            <p class="icon3 icons"></p>
                          
                        </div>
                        <div class="home-content-p" id="p-content3">
                            <p>Are you ready to take the next step in your career? Look no further than Seekk. Our
                                platform offers a vast array
                                of job
                                opportunities across various industries and sectors. Whether you're an experienced
                                executive, a seasoned
                                specialist, or
                                just starting your career journey, we have something for everyone.</p>
                            <div class="home-content-btn">
                                <button id="btn3-1">Know More</button>
                                <button id="btn3-2">Book Demo</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <app-managed-recruitment></app-managed-recruitment>
        <app-top-recruiters></app-top-recruiters>
    </div>

    


</main>

