<div class="recently-featured-jobs">
    <div class="recently-featured-jobs-main">
        <div class="recently-featured-jobs-heading">
            <p>Discover recently featured jobs</p>
            <div id="popular-boder"></div>
        </div>
        
        <div class="recently-featured-jobs-content">
            <div class="jobs-left-list" >
                <div class="jobs-left" >
                    <div class="job-items" *ngFor="let item of numbersArray; let i = index ;evenNumber"  >
                        <p id="job-titel">{{ item.jobTitel }}</p>
                        <p id="job-tybe">{{ item.jobtybe }}</p>
                        <p id="location">{{ item.location }}</p>
                    </div>
                
                    <!-- <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>

                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                    
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                    
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                    
                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>

                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>

                    <div class="job-items">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div> -->
                
                
                </div>
            </div>
           
            <div class="jobs-right">
                <div class="jobs-right-image">

                    <div class="job-items highlights" id="highlights-one">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>

                    <div class="job-items highlights" id="highlights-two">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>

                    <div class="job-items highlights" id="highlights-three">
                        <p id="job-titel">java Developer</p>
                        <p id="job-tybe">jts business services</p>
                        <p id="location">bangalore, india</p>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
       
</div>
