
<div class="managed-recruitment-main">
    <div class="managed-recruitment-containers">
        <div class="managed-heading">
            <h1>MANAGED <samp>RECRUITMENT SERVICE</samp> </h1>
        </div>
        <div class="animate-icon-containers">
            <div class="Line_img">
                <!-- img -->
            </div>
              <div class="animate-icon">
                 <div class="ball"> </div>
                <div class="animate-icon1"></div>
                   <div class="animate-icon2"></div>
                   <div class="animate-icon3">
                    <div class="animate-icon-content">
                        
                        <h5>Talent Sourcing Service</h5>
                         <p>We Specialize in talent acquisition for your unique staffing requirements. Offering unparalleled value at competitive
                        rates</p>
                   </div>
              </div>
        </div>
   </div>

</div>
