<section class="main-content">
  <div class="row">
    <div class="col-6 col-md-6 col-lg-6">
      <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
          <h5 class="page-title m-b-0">Membership</h5>
        </li>
      </ul>
    </div>
    <div class=" col-6 col-md-6 col-lg-6 ">
      <button routerLink="/transaction-history/" class="btn btn-outline transaction-history bs-btn-border-color">
        Transaction History
      </button>
    </div>
  </div>

  <div class="section-body ">

   
    <div class="col-lg-12 mb-40" >
      <div class="row p-20" >
      <div class="col-lg-8 current-plan-title" >
        <div class="plan-title">
          <h4>Current Plan</h4>
        </div>
        <div class="plan-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
      </div>
      <div class="col-lg-4 current-plan-type">
        <div class="plan-type">
          <div class="plan-type-title">Monthly Plan</div>
          <div class="plan-type-text">Your subcription renews</div>
          <div class="plan-last-date">April 15th,2024</div>
          <div class="cancel-plan">Cancel Current Plan</div>
        </div>
      </div>

    </div>
  </div>


    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
              <div class="pricing">
                <div class="pricing-title">
                  STANDARD
                </div>
                <div class="pricing-padding">
                  <div class="pricing-price">
                    <div>FREE</div>
                    <div>PER MONTH</div>
                  </div>
                  <div class="pricing-details">
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">15 Job Posting</div>
                    </div>
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">7 Featured Job</div>
                    </div>
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">Job Posting live
                        for 30 days </div>
                    </div>

                  </div>
                </div>
                <div class="pricing-cta">
                  <a href="#" onClick="return false;">choose plan</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <div class="pricing pricing-highlight">
                <div class="pricing-title">
                  GOLD
                </div>
                <div class="pricing-padding">
                  <div class="pricing-price">
                    <div>₹ 499/-</div>
                    <div>PER MONTH</div>
                  </div>
                  <div class="pricing-details">
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">30 Job Posting</div>
                    </div>
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">7 Featured Job</div>
                    </div>
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">Job Posting live
                        for 60 days </div>
                    </div>

                   
                  </div>
                </div>
                <div class="pricing-cta">
                  <a href="#" onClick="return false;">choose plan</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <div class="pricing">
                <div class="pricing-title">
                  DIAMOND
                </div>
                <div class="pricing-padding">
                  <div class="pricing-price">
                    <div>₹ 899</div>
                    <div>PER MONTH</div>
                  </div>
                  <div class="pricing-details">
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">60 Job Posting</div>
                    </div>
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">30 Featured Job</div>
                    </div>
                    <div class="pricing-item">
                      <div><img src="assets/images/icons/icon-correct.png"  class="icon-correct"> </div>
                      <div class="pricing-item-label">Job Posting live
                        for 120 days </div>
                    </div>

                  
                  </div>
                </div>
                <div class="pricing-cta">
                  <a href="#" onClick="return false;">choose plan </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>