<div class="popular-categories">
  <div class="popular-categories-main">
          <div class="popular-categories-heding">
               <p>popular categories</p>
               <div id="popular-boder"></div>
          </div>
          <div class="popular-list">
               <div class="popular-list-item">
                    <div class="popular-item">
                        <div class="popular-item1">
                            <p>work from home</p>
                            <p>Event Manager</p>
                            <p>Banking</p>
                            <p>it</p>
                            <p>HR</p>
                            <p>SQL</p>
                            <p>Sales</p>
                            <p>Oracle</p>
                            <p>Accounting</p>
                            <p>Graphic Design</p>
                            <p>Customer Support</p>
                            <p>Digital Marketing</p>
                        </div>
                        <!-- <div class="popular-item2">
                            <p>Banking</p>
                            <p>it</p>
                        </div> -->
                    </div>

                    <!-- <div class="popular-item">
                        <div class="popular-item1">
                            <p>HR</p>
                            <p>SQL</p>
                        </div>
                        <div class="popular-item2">
                            <p>Sales</p>
                            <p>Oracle</p>
                        </div>
                    </div>

                    <div class="popular-item">
                        <div class="popular-item1">
                            <p>Accounting</p>
                            <p>Graphic Design</p>
                        </div>
                        <div class="popular-item2">
                            <p>Customer Support</p>
                            <p>Digital Marketing</p>
                        </div>
                    </div> -->

                    

                    
               </div>
          </div>
  </div>
</div>
